auth:
  signing_key: <PRINCIPAL_SIGNING_KEY>

postgres:
  dsn: postgres://kmap_app:<PG_APP_PASSWORD>@postgres:5432/kmap?sslmode=disable

s3:
  access_key: <MINIO_ACCESS_KEY>
  secret_key: <MINIO_SECRET_KEY>

llm:
  providers:
    yandex:
      api_key: <YANDEX_API_KEY>
      folder_id: <YANDEX_FOLDER_ID>

embed:
  remote:
    api_key: <DO_MODEL_ACCESS_KEY>
